 
.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}
/*will be ading more tabs and styling it if need be*/
